#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
}

#home h1 {
  font-size: clamp(2em, 12vw, 4.5em);
  color: var(--black);
  padding: 0;
}

#home .button {
  margin-top: 2em;
}

#home .small {
  font-size: clamp(1em, 8vw, 3em);
  font-weight: 200;
}

.white-text {
  color: white
}

#topWave {
  z-index: -1;
  bottom: 0;
}